@font-face {
  font-family: RobotoMono;
  font-weight: 400;
  src: url('./fonts/roboto-mono/RobotoMono-Regular.ttf') format('opentype')
}

@font-face {
  font-family: RobotoMono;
  font-weight: 500;
  src: url('./fonts/roboto-mono/RobotoMono-Medium.ttf') format('opentype')
}

@font-face {
  font-family: RobotoMono;
  font-weight: 600;
  src: url('./fonts/roboto-mono/RobotoMono-Bold.ttf') format('opentype')
}

html,
body {
  margin: 0;
  font-family: 'RobotoMono';
}

canvas {
  width: 100vw;
  height: 100vh;
}

.canvas-island {
  filter: blur(5px);
}

body #root .container-description {
  position: absolute !important;
  pointer-events: none !important;
  top: 0;
}

.title {
  position: absolute;
  top: -340px;
  left: -700px;
  width: 210px;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
}

.subtitle {
  font-size: 16px;
}

.description {
  width: 180px;
  text-align: center;
}

.description .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.description .text {
  font-size: 10px;
}

.description .text .list-title {
  font-weight: 500;
}

.description .text .list {
  margin-top: 2px;
  margin-bottom: 12px;
  padding-left: 0;
  list-style-type: none;
}

.description .text li {
  font-size: 8px;
  margin-left: 0px;
}

.description .text a {
  color: #000;
}

.description .text a:hover {
  color: #858484;
}

.sign-title {
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
}

.arrow {
  position: absolute;
  width: 45px;
  top: 0px;
  cursor: pointer;
}

.arrow-left {
  right: 510px;
}

.arrow-right {
  left: 510px;
}

.cell {
  width: 25px;
  height: 25px;
  overflow: hidden;
  background-color: #ffffff;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid {
  background: #000;
  display: flex;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Handle LEVA */

/* .leva-c-kWgxhW-bCBHqk-fill-false {
  left: 20px;
  top: 50px;
} */