html,
body {
  margin: 0;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.canvas-island {
  filter: blur(5px);
}

body #root .description {
  position: absolute !important;
  pointer-events: none !important;
  top: 0;
}

.about-me {
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
}


/** Handle LEVA */

.leva-c-kWgxhW-bCBHqk-fill-false {
  left: 20px;
  top: 50px;
}